.about__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
  position: relative;
}

/* Roatated div behind the image */
.about__bg {
  /* overlap div  */
  justify-self: center;
  top: -2rem;
  left: -2rem;
  width: 400px;
  height: 400px;
  background-color: var(--first-color);
  border-radius: 1rem;
  z-index: -1;
  transform: rotate(5deg);
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.about__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;

  transform: rotate(-5deg);
}
.about__bg-img img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__data {
  padding-left: 2rem;
}
.about__info {
  grid-template-columns: repeat(3, 140px);
  gap: 0.5rem;
  margin-top: var(--mb-2);
}

.about__box {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  text-align: center;
  padding: 1rem 1.25rem;
}

.about__icon {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-5);
}
.about__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-meduim);
}
.about__subtitle {
  font-size: var(--tiny-font-size);
}
.about__description {
  padding: 0 4rem 0 0;
  margin-bottom: var(--mb-2-5);
  margin-top: var(--mb-2);
}
/* ====== BREAKPOINT ====== */
@media screen and (max-width: 992px) {
  .about__container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }
  .about__img {
    width: 220px;
  }
  .about__box {
    padding: 0.75rem 0.5rem;
  }
  .about__data {
    text-align: center;
  }
  .about__info {
    justify-content: center;
  }
  .about__description {
    padding: 0 5rem;
    margin-top: 2rem;
  }
}

/* Meduim device */
@media screen and (max-width: 576px) {
  .about__info {
    grid-template-columns: repeat(3, 1fr);
  }
  .about__description {
    padding: 0;
  }
}

/* Small device */
@media screen and (max-width: 350px) {
  .about__info {
    grid-template-columns: repeat(2, 1fr);
  }
}
